.latest {
  padding-top: 50px;
  padding-bottom: 50px;
}

.latest .card {
  transition: 0.3s;
  background: none;
  border: 1px solid var(--black-000);
  box-shadow: var(--shadow-black-300);
}

.latest .card:hover {
  box-shadow: var(--shadow-black-100);
}

.latest .card img {
  height: 250px;
}

.latest .card a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--black-900);
}

.latest .card a:hover {
  color: var(--black-400);
}

.latest .card .infoCourse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.latest .card .infoCourse .hours {
  font-size: 14px;
  font-weight: 300;
  color: var(--black-400);
}

.latest .card .price span:last-of-type {
  font-size: 16px;
  font-weight: 300;
  color: var(--black-400);
}

.latest .card .stars {
  color: var(--color-2);
  font-size: 14px;
}

.latest .card .image {
  width: 15%;
  height: 15%;
}

.latest .card .nameS {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--black-900);
}

.latest .card .marks i {
  cursor: pointer;
  color: var(--black-900);
}

.latest .card del {
  text-decoration: line-through !important;
}
